<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>CREDIONLINE</title>
	<link href="img/logo.png" rel="shortcut icon" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/estilosprincipal.css">
	<link rel="stylesheet" type="text/css" href="css/dropzone.css">
	<script src="js/dropzone.js"></script>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/manipular.js"></script>
	<script src="js/validacion.js"></script>
	<script src="js/validacionLogin.js"></script>
	<script src="js/validacionMontos.js"></script>
	<script src="js/validacionDesembolso.js"></script>
	<script src="js/validacionCuenta.js"></script>
	<script src="js/validacionDocumentos.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
{{{body}}}	
</body>
</html>